body{
    margin: 0px;
}

.box-size{
    width: 200px;
    height: 200px;
    margin: 0px;
}

.blue-box{
    background-color: aqua;
    border: 10px;
    border-style: solid;
    border-color: black;
    padding: 20px;
}

.red-box{
    background-color: red;
    border: 20px;
    border-style: solid;
    border-color: black;
    margin-left: 259px;
}

.yellow-box{
    background-color: yellow;
    border: 10px;
    border-style: solid;
    border-color: black;
    margin-left: 499px;
}